In [1]:
#Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
#load data
data = pd.read_csv('dataset.csv')

In [3]:
#summary of data
data.info

<bound method DataFrame.info of       Marital status  Application mode  Application order  Course  \
0                  1                 8                  5       2
1                  1                 6                  1      11
2                  1                 1                  5       5
3                  1                 8                  2      15
4                  2                12                  1       3
...              ...               ...                ...     ...
4419               1                 1                  6      15
4420               1                 1                  2      15
4421               1                 1                  1      12
4422               1                 1                  1       9
4423               1                 5                  1      15

      Daytime/evening attendance  Previous qualification  Nacionality  \
0                              1                       1            1
1                              1                       1            1
2                              1                       1            1
3                              1                       1            1
4                              0                       1            1
...                          ...                     ...          ...
4419                           1                       1            1
4420                           1                       1           19
4421                           1                       1            1
4422                           1                       1            1
4423                           1                       1            9

      Mother's qualification  Father's qualification  Mother's occupation  \
0                         13                      10                    6
1                          1                       3                    4
2                         22                      27                   10
3                         23                      27                    6
4                         22                      28                   10
...                      ...                     ...                  ...
4419                       1                       1                    6
4420                       1                       1                   10
4421                      22                      27                   10
4422                      22                      27                    8
4423                      23                      27                    6

      ...  Curricular units 2nd sem (credited)  \
0     ...                                    0
1     ...                                    0
2     ...                                    0
3     ...                                    0
4     ...                                    0
...   ...                                  ...
4419  ...                                    0
4420  ...                                    0
4421  ...                                    0
4422  ...                                    0
4423  ...                                    0

      Curricular units 2nd sem (enrolled)  \
0                                       0
1                                       6
2                                       6
3                                       6
4                                       6
...                                   ...
4419                                    6
4420                                    6
4421                                    8
4422                                    5
4423                                    6

      Curricular units 2nd sem (evaluations)  \
0                                          0
1                                          6
2                                          0
3                                         10
4                                          6
...                                      ...
4419                                       8
4420                                       6
4421                                       9
4422                                       6
4423                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
0                                       0                          0.000000
1                                       6                         13.666667
2                                       0                          0.000000
3                                       5                         12.400000
4                                       6                         13.000000
...                                   ...                               ...
4419                                    5                         12.666667
4420                                    2                         11.000000
4421                                    1                         13.500000
4422                                    5                         12.000000
4423                                    6                         13.000000

      Curricular units 2nd sem (without evaluations)  Unemployment rate  \
0                                                  0               10.8
1                                                  0               13.9
2                                                  0               10.8
3                                                  0                9.4
4                                                  0               13.9
...                                              ...                ...
4419                                               0               15.5
4420                                               0               11.1
4421                                               0               13.9
4422                                               0                9.4
4423                                               0               12.7

      Inflation rate   GDP    Target
0                1.4  1.74   Dropout
1               -0.3  0.79  Graduate
2                1.4  1.74   Dropout
3               -0.8 -3.12  Graduate
4               -0.3  0.79  Graduate
...              ...   ...       ...
4419             2.8 -4.06  Graduate
4420             0.6  2.02   Dropout
4421            -0.3  0.79   Dropout
4422            -0.8 -3.12  Graduate
4423             3.7 -1.70  Graduate

[4424 rows x 35 columns]>

In [4]:
#show head of data
data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [5]:
#column names
data.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance', 'Previous qualification', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Displaced',
       'Educational special needs', 'Debtor', 'Tuition fees up to date',
       'Gender', 'Scholarship holder', 'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [6]:
#data types
data.dtypes

Marital status                                      int64
Application mode                                    int64
Application order                                   int64
Course                                              int64
Daytime/evening attendance                          int64
Previous qualification                              int64
Nacionality                                         int64
Mother's qualification                              int64
Father's qualification                              int64
Mother's occupation                                 int64
Father's occupation                                 int64
Displaced                                           int64
Educational special needs                           int64
Debtor                                              int64
Tuition fees up to date                             int64
Gender                                              int64
Scholarship holder                                  int64
Age at enrollment                                   int64
International                                       int64
Curricular units 1st sem (credited)                 int64
Curricular units 1st sem (enrolled)                 int64
Curricular units 1st sem (evaluations)              int64
Curricular units 1st sem (approved)                 int64
Curricular units 1st sem (grade)                  float64
Curricular units 1st sem (without evaluations)      int64
Curricular units 2nd sem (credited)                 int64
Curricular units 2nd sem (enrolled)                 int64
Curricular units 2nd sem (evaluations)              int64
Curricular units 2nd sem (approved)                 int64
Curricular units 2nd sem (grade)                  float64
Curricular units 2nd sem (without evaluations)      int64
Unemployment rate                                 float64
Inflation rate                                    float64
GDP                                               float64
Target                                             object
dtype: object

In [7]:
#many columns are int but should be categorical
dict = {'Marital status': 'category', 'Application mode': 'category', 'Application order': 'category', 'Course': 'category', 'Daytime/evening attendance': 'category', 'Previous qualification':'category', 'Nacionality': 'category', "Mother's qualification": 'category', "Father's qualification": 'category', "Mother's occupation": 'category', "Father's occupation": 'category', 'Displaced': 'category', 'Educational special needs': 'category', 'Debtor': 'category', 'Tuition fees up to date': 'category', 'Gender': 'category', 'Scholarship holder': 'category', 'International': 'category'}
data = data.astype(dict)
data.dtypes

Marital status                                    category
Application mode                                  category
Application order                                 category
Course                                            category
Daytime/evening attendance                        category
Previous qualification                            category
Nacionality                                       category
Mother's qualification                            category
Father's qualification                            category
Mother's occupation                               category
Father's occupation                               category
Displaced                                         category
Educational special needs                         category
Debtor                                            category
Tuition fees up to date                           category
Gender                                            category
Scholarship holder                                category
Age at enrollment                                    int64
International                                     category
Curricular units 1st sem (credited)                  int64
Curricular units 1st sem (enrolled)                  int64
Curricular units 1st sem (evaluations)               int64
Curricular units 1st sem (approved)                  int64
Curricular units 1st sem (grade)                   float64
Curricular units 1st sem (without evaluations)       int64
Curricular units 2nd sem (credited)                  int64
Curricular units 2nd sem (enrolled)                  int64
Curricular units 2nd sem (evaluations)               int64
Curricular units 2nd sem (approved)                  int64
Curricular units 2nd sem (grade)                   float64
Curricular units 2nd sem (without evaluations)       int64
Unemployment rate                                  float64
Inflation rate                                     float64
GDP                                                float64
Target                                              object
dtype: object

In [8]:
#counts of each value in each column
for col in data.columns:
    print(data[col].value_counts())
    print(data[col].value_counts()/4423*100)

Marital status
1    3919
2     379
4      91
5      25
6       6
3       4
Name: count, dtype: int64
Application mode
1     1708
8      872
12     785
14     312
15     213
4      139
9      124
13      77
16      59
7       38
17      35
6       30
3       16
5       10
2        3
10       1
11       1
18       1
Name: count, dtype: int64
Application order
1    3026
2     547
3     309
4     249
5     154
6     137
0       1
9       1
Name: count, dtype: int64
Course
12    766
9     380
10    355
6     337
15    331
14    268
17    268
11    252
5     226
2     215
3     215
4     210
16    192
7     170
8     141
13     86
1      12
Name: count, dtype: int64
Daytime/evening attendance
1    3941
0     483
Name: count, dtype: int64
Previous qualification
1     3717
14     219
12     162
3      126
9       45
15      40
16      36
2       23
6       16
7       11
4        8
13       7
17       6
8        4
11       2
10       1
5        1
Name: count, dtype: int64
Nacionality
1     4314
14      38
12      14
3       13
9       13
10       5
4        3
18       3
16       3
19       2
17       2
15       2
11       2
2        2
8        2
13       1
7        1
6        1
5        1
20       1
21       1
Name: count, dtype: int64
Mother's qualification
1     1069
22    1009
13     953
23     562
3      438
19     130
2       83
4       49
10      42
5       21
25       9
24       8
7        8
26       6
28       4
6        4
27       4
9        3
17       3
18       3
8        3
20       3
21       3
11       2
15       1
16       1
14       1
12       1
29       1
Name: count, dtype: int64
Father's qualification
27    1209
14     968
1      904
28     702
3      282
24     112
2       68
4       39
10      38
29      20
5       18
9       10
26       8
7        5
30       5
21       4
12       4
16       4
20       3
31       2
33       2
25       2
18       2
8        2
6        2
23       1
22       1
19       1
17       1
15       1
13       1
11       1
32       1
34       1
Name: count, dtype: int64
Mother's occupation
10    1577
5      817
6      530
4      351
3      318
8      272
1      144
2      102
7       91
12      70
9       36
29      26
13      17
32      11
20       8
15       7
22       6
28       5
30       5
31       4
19       4
11       4
18       3
21       3
23       3
24       2
25       2
14       2
27       1
26       1
16       1
17       1
Name: count, dtype: int64
Father's occupation
10    1010
8      666
6      516
5      386
4      384
9      318
11     266
7      242
3      197
2      134
1      128
12      65
13      19
44      15
29       8
36       8
43       6
35       5
16       4
39       4
31       3
26       3
40       3
42       3
21       3
15       2
41       2
45       2
30       2
20       2
37       2
17       2
38       1
24       1
34       1
33       1
32       1
28       1
27       1
25       1
23       1
22       1
19       1
18       1
14       1
46       1
Name: count, dtype: int64
Displaced
1    2426
0    1998
Name: count, dtype: int64
Educational special needs
0    4373
1      51
Name: count, dtype: int64
Debtor
0    3921
1     503
Name: count, dtype: int64
Tuition fees up to date
1    3896
0     528
Name: count, dtype: int64
Gender
0    2868
1    1556
Name: count, dtype: int64
Scholarship holder
0    3325
1    1099
Name: count, dtype: int64
Age at enrollment
18    1036
19     911
20     599
21     322
22     174
24     131
23     108
26      94
25      93
27      91
28      83
29      66
32      61
34      60
31      55
35      49
30      49
33      45
37      42
39      38
36      35
41      31
38      29
43      25
40      23
45      22
44      21
47      18
50      16
42      13
49      13
46      12
48      11
51       7
54       7
53       7
17       5
55       5
52       4
59       3
58       3
57       2
60       2
61       1
70       1
62       1
Name: count, dtype: int64
International
0    4314
1     110
Name: count, dtype: int64
Curricular units 1st sem (credited)
0     3847
2       94
1       85
3       69
6       51
4       47
7       41
5       41
8       31
9       27
11      17
10      15
14      15
13      13
12      12
15       5
18       4
17       3
16       3
19       2
20       2
Name: count, dtype: int64
Curricular units 1st sem (enrolled)
6     1910
5     1010
7      656
8      296
0      180
12      66
10      52
11      45
9       36
15      25
14      22
4       21
13      20
18      19
17      16
16      13
3       10
2        9
1        7
21       6
19       2
23       2
26       1
Name: count, dtype: int64
Curricular units 1st sem (evaluations)
8     791
7     703
6     598
9     402
0     349
10    340
11    239
12    223
5     220
13    140
14    105
15     70
16     47
17     33
18     30
19     23
4      19
21     17
20     12
22     10
23      9
2       8
3       6
24      6
1       6
26      4
25      3
27      2
29      2
45      2
32      1
36      1
31      1
28      1
33      1
Name: count, dtype: int64
Curricular units 1st sem (approved)
6     1171
5      723
0      718
7      471
4      433
3      269
2      160
1      127
8      108
11      49
12      44
9       40
13      26
10      24
18      15
14      14
17      10
15       7
16       5
21       4
20       3
19       2
26       1
Name: count, dtype: int64
Curricular units 1st sem (grade)
0.000000     718
12.000000    205
13.000000    147
11.000000    138
11.500000     89
            ...
12.855556      1
13.040000      1
15.657143      1
13.331429      1
14.912500      1
Name: count, Length: 805, dtype: int64
Curricular units 1st sem (without evaluations)
0     4130
1      153
2       79
3       23
4       15
6        6
7        6
5        5
8        4
12       2
10       1
Name: count, dtype: int64
Curricular units 2nd sem (credited)
0     3894
1      107
2       92
4       78
5       68
3       49
6       26
11      20
7       16
9       15
12      14
10      13
8       12
13       9
14       4
15       2
16       2
18       2
19       1
Name: count, dtype: int64
Curricular units 2nd sem (enrolled)
6     1913
5     1054
8      661
7      304
0      180
11      60
9       50
10      48
12      44
13      37
14      22
4       17
17      12
2        5
19       3
3        3
1        3
15       2
23       2
18       2
16       1
21       1
Name: count, dtype: int64
Curricular units 2nd sem (evaluations)
8     792
6     614
7     563
9     456
0     401
10    355
5     288
11    255
12    226
13    126
14     98
15     73
16     49
17     25
18     22
19     19
4      10
21     10
22     10
20      8
2       4
23      4
26      3
24      3
1       3
3       2
27      2
28      1
25      1
33      1
Name: count, dtype: int64
Curricular units 2nd sem (approved)
6     965
0     870
5     726
4     414
7     331
8     321
3     285
2     198
1     114
11     48
10     38
9      36
12     34
13     21
17      8
14      6
19      3
20      2
16      2
18      2
Name: count, dtype: int64
Curricular units 2nd sem (grade)
0.000000     870
12.000000    170
11.000000    165
13.000000    150
11.500000     86
            ...
14.622222      1
13.994444      1
11.685714      1
15.657143      1
11.083333      1
Name: count, Length: 786, dtype: int64
Curricular units 2nd sem (without evaluations)
0     4142
1      140
2       48
3       35
4       21
5       17
6        8
8        6
7        5
12       2
Name: count, dtype: int64
Unemployment rate
7.6     571
9.4     533
10.8    525
12.4    445
12.7    419
11.1    414
15.5    397
13.9    390
8.9     368
16.2    362
Name: count, dtype: int64
Inflation rate
 1.4    893
 2.6    571
-0.8    533
 0.5    445
 3.7    419
 0.6    414
 2.8    397
-0.3    390
 0.3    362
Name: count, dtype: int64
GDP
 0.32    571
-3.12    533
 1.74    525
 1.79    445
-1.70    419
 2.02    414
-4.06    397
 0.79    390
 3.51    368
-0.92    362
Name: count, dtype: int64
Target
Graduate    2209
Dropout     1421
Enrolled     794
Name: count, dtype: int64

In [22]:
#percentages of each value in each column
for col in data.columns:
    print(data[col].value_counts()/4423*100)

Marital status
1    88.605019
2     8.568845
4     2.057427
5     0.565227
6     0.135655
3     0.090436
Name: count, dtype: float64
Application mode
1     38.616324
8     19.715125
12    17.748135
14     7.054036
15     4.815736
4      3.142663
9      2.803527
13     1.740900
16     1.333936
7      0.859145
17     0.791318
6      0.678273
3      0.361745
5      0.226091
2      0.067827
10     0.022609
11     0.022609
18     0.022609
Name: count, dtype: float64
Application order
1    68.415103
2    12.367172
3     6.986208
4     5.629663
5     3.481800
6     3.097445
0     0.022609
9     0.022609
Name: count, dtype: float64
Course
12    17.318562
9      8.591454
10     8.026227
6      7.619263
15     7.483608
14     6.059236
17     6.059236
11     5.697490
5      5.109654
2      4.860954
3      4.860954
4      4.747909
16     4.340945
7      3.843545
8      3.187882
13     1.944382
1      0.271309
Name: count, dtype: float64
Daytime/evening attendance
1    89.102419
0    10.920190
Name: count, dtype: float64
Previous qualification
1     84.037983
14     4.951390
12     3.662672
3      2.848745
9      1.017409
15     0.904364
16     0.813927
2      0.520009
6      0.361745
7      0.248700
4      0.180873
13     0.158264
17     0.135655
8      0.090436
11     0.045218
10     0.022609
5      0.022609
Name: count, dtype: float64
Nacionality
1     97.535609
14     0.859145
12     0.316527
3      0.293918
9      0.293918
10     0.113045
4      0.067827
18     0.067827
16     0.067827
19     0.045218
17     0.045218
15     0.045218
11     0.045218
2      0.045218
8      0.045218
13     0.022609
7      0.022609
6      0.022609
5      0.022609
20     0.022609
21     0.022609
Name: count, dtype: float64
Mother's qualification
1     24.169116
22    22.812571
13    21.546462
23    12.706308
3      9.902781
19     2.939182
2      1.876554
4      1.107845
10     0.949582
5      0.474791
25     0.203482
24     0.180873
7      0.180873
26     0.135655
28     0.090436
6      0.090436
27     0.090436
9      0.067827
17     0.067827
18     0.067827
8      0.067827
20     0.067827
21     0.067827
11     0.045218
15     0.022609
16     0.022609
14     0.022609
12     0.022609
29     0.022609
Name: count, dtype: float64
Father's qualification
27    27.334388
14    21.885598
1     20.438616
28    15.871580
3      6.375763
24     2.532218
2      1.537418
4      0.881754
10     0.859145
29     0.452182
5      0.406964
9      0.226091
26     0.180873
7      0.113045
30     0.113045
21     0.090436
12     0.090436
16     0.090436
20     0.067827
31     0.045218
33     0.045218
25     0.045218
18     0.045218
8      0.045218
6      0.045218
23     0.022609
22     0.022609
19     0.022609
17     0.022609
15     0.022609
13     0.022609
11     0.022609
32     0.022609
34     0.022609
Name: count, dtype: float64
Mother's occupation
10    35.654533
5     18.471626
6     11.982817
4      7.935790
3      7.189690
8      6.149672
1      3.255709
2      2.306127
7      2.057427
12     1.582636
9      0.813927
29     0.587836
13     0.384355
32     0.248700
20     0.180873
15     0.158264
22     0.135655
28     0.113045
30     0.113045
31     0.090436
19     0.090436
11     0.090436
18     0.067827
21     0.067827
23     0.067827
24     0.045218
25     0.045218
14     0.045218
27     0.022609
26     0.022609
16     0.022609
17     0.022609
Name: count, dtype: float64
Father's occupation
10    22.835180
8     15.057653
6     11.666290
5      8.727108
4      8.681890
9      7.189690
11     6.014018
7      5.471400
3      4.453991
2      3.029618
1      2.893963
12     1.469591
13     0.429573
44     0.339136
29     0.180873
36     0.180873
43     0.135655
35     0.113045
16     0.090436
39     0.090436
31     0.067827
26     0.067827
40     0.067827
42     0.067827
21     0.067827
15     0.045218
41     0.045218
45     0.045218
30     0.045218
20     0.045218
37     0.045218
17     0.045218
38     0.022609
24     0.022609
34     0.022609
33     0.022609
32     0.022609
28     0.022609
27     0.022609
25     0.022609
23     0.022609
22     0.022609
19     0.022609
18     0.022609
14     0.022609
46     0.022609
Name: count, dtype: float64
Displaced
1    54.84965
0    45.17296
Name: count, dtype: float64
Educational special needs
0    98.869546
1     1.153064
Name: count, dtype: float64
Debtor
0    88.650237
1    11.372372
Name: count, dtype: float64
Tuition fees up to date
1    88.085010
0    11.937599
Name: count, dtype: float64
Gender
0    64.842867
1    35.179742
Name: count, dtype: float64
Scholarship holder
0    75.175220
1    24.847389
Name: count, dtype: float64
Age at enrollment
18    23.423016
19    20.596880
20    13.542844
21     7.280127
22     3.933981
24     2.961791
23     2.441782
26     2.125254
25     2.102645
27     2.057427
28     1.876554
29     1.492200
32     1.379154
34     1.356545
31     1.243500
35     1.107845
30     1.107845
33     1.017409
37     0.949582
39     0.859145
36     0.791318
41     0.700882
38     0.655664
43     0.565227
40     0.520009
45     0.497400
44     0.474791
47     0.406964
50     0.361745
42     0.293918
49     0.293918
46     0.271309
48     0.248700
51     0.158264
54     0.158264
53     0.158264
17     0.113045
55     0.113045
52     0.090436
59     0.067827
58     0.067827
57     0.045218
60     0.045218
61     0.022609
70     0.022609
62     0.022609
Name: count, dtype: float64
International
0    97.535609
1     2.487000
Name: count, dtype: float64
Curricular units 1st sem (credited)
0     86.977165
2      2.125254
1      1.921773
3      1.560027
6      1.153064
4      1.062627
7      0.926973
5      0.926973
8      0.700882
9      0.610445
11     0.384355
10     0.339136
14     0.339136
13     0.293918
12     0.271309
15     0.113045
18     0.090436
17     0.067827
16     0.067827
19     0.045218
20     0.045218
Name: count, dtype: float64
Curricular units 1st sem (enrolled)
6     43.183360
5     22.835180
7     14.831562
8      6.692290
0      4.069636
12     1.492200
10     1.175673
11     1.017409
9      0.813927
15     0.565227
14     0.497400
4      0.474791
13     0.452182
18     0.429573
17     0.361745
16     0.293918
3      0.226091
2      0.203482
1      0.158264
21     0.135655
19     0.045218
23     0.045218
26     0.022609
Name: count, dtype: float64
Curricular units 1st sem (evaluations)
8     17.883789
7     15.894189
6     13.520235
9      9.088854
0      7.890572
10     7.687090
11     5.403572
12     5.041827
5      4.974000
13     3.165272
14     2.373954
15     1.582636
16     1.062627
17     0.746100
18     0.678273
19     0.520009
4      0.429573
21     0.384355
20     0.271309
22     0.226091
23     0.203482
2      0.180873
3      0.135655
24     0.135655
1      0.135655
26     0.090436
25     0.067827
27     0.045218
29     0.045218
45     0.045218
32     0.022609
36     0.022609
31     0.022609
28     0.022609
33     0.022609
Name: count, dtype: float64
Curricular units 1st sem (approved)
6     26.475243
5     16.346371
0     16.233326
7     10.648881
4      9.789735
3      6.081845
2      3.617454
1      2.871354
8      2.441782
11     1.107845
12     0.994800
9      0.904364
13     0.587836
10     0.542618
18     0.339136
14     0.316527
17     0.226091
15     0.158264
16     0.113045
21     0.090436
20     0.067827
19     0.045218
26     0.022609
Name: count, dtype: float64
Curricular units 1st sem (grade)
0.000000     16.233326
12.000000     4.634863
13.000000     3.323536
11.000000     3.120054
11.500000     2.012209
               ...
12.855556     0.022609
13.040000     0.022609
15.657143     0.022609
13.331429     0.022609
14.912500     0.022609
Name: count, Length: 805, dtype: float64
Curricular units 1st sem (without evaluations)
0     93.375537
1      3.459191
2      1.786118
3      0.520009
4      0.339136
6      0.135655
7      0.135655
5      0.113045
8      0.090436
12     0.045218
10     0.022609
Name: count, dtype: float64
Curricular units 2nd sem (credited)
0     88.039792
1      2.419173
2      2.080036
4      1.763509
5      1.537418
3      1.107845
6      0.587836
11     0.452182
7      0.361745
9      0.339136
12     0.316527
10     0.293918
8      0.271309
13     0.203482
14     0.090436
15     0.045218
16     0.045218
18     0.045218
19     0.022609
Name: count, dtype: float64
Curricular units 2nd sem (enrolled)
6     43.251187
5     23.829980
8     14.944608
7      6.873163
0      4.069636
11     1.356545
9      1.130454
10     1.085236
12     0.994800
13     0.836536
14     0.497400
4      0.384355
17     0.271309
2      0.113045
19     0.067827
3      0.067827
1      0.067827
15     0.045218
23     0.045218
18     0.045218
16     0.022609
21     0.022609
Name: count, dtype: float64
Curricular units 2nd sem (evaluations)
8     17.906398
6     13.881981
7     12.728917
9     10.309745
0      9.066245
10     8.026227
5      6.511418
11     5.765318
12     5.109654
13     2.848745
14     2.215691
15     1.650463
16     1.107845
17     0.565227
18     0.497400
19     0.429573
4      0.226091
21     0.226091
22     0.226091
20     0.180873
2      0.090436
23     0.090436
26     0.067827
24     0.067827
1      0.067827
3      0.045218
27     0.045218
28     0.022609
25     0.022609
33     0.022609
Name: count, dtype: float64
Curricular units 2nd sem (approved)
6     21.817771
0     19.669907
5     16.414199
4      9.360163
7      7.483608
8      7.257518
3      6.443590
2      4.476600
1      2.577436
11     1.085236
10     0.859145
9      0.813927
12     0.768709
13     0.474791
17     0.180873
14     0.135655
19     0.067827
20     0.045218
16     0.045218
18     0.045218
Name: count, dtype: float64
Curricular units 2nd sem (grade)
0.000000     19.669907
12.000000     3.843545
11.000000     3.730500
13.000000     3.391363
11.500000     1.944382
               ...
14.622222     0.022609
13.994444     0.022609
11.685714     0.022609
15.657143     0.022609
11.083333     0.022609
Name: count, Length: 786, dtype: float64
Curricular units 2nd sem (without evaluations)
0     93.646846
1      3.165272
2      1.085236
3      0.791318
4      0.474791
5      0.384355
6      0.180873
8      0.135655
7      0.113045
12     0.045218
Name: count, dtype: float64
Unemployment rate
7.6     12.909790
9.4     12.050644
10.8    11.869772
12.4    10.061045
12.7     9.473208
11.1     9.360163
15.5     8.975808
13.9     8.817545
8.9      8.320145
16.2     8.184490
Name: count, dtype: float64
Inflation rate
 1.4    20.189916
 2.6    12.909790
-0.8    12.050644
 0.5    10.061045
 3.7     9.473208
 0.6     9.360163
 2.8     8.975808
-0.3     8.817545
 0.3     8.184490
Name: count, dtype: float64
GDP
 0.32    12.909790
-3.12    12.050644
 1.74    11.869772
 1.79    10.061045
-1.70     9.473208
 2.02     9.360163
-4.06     8.975808
 0.79     8.817545
 3.51     8.320145
-0.92     8.184490
Name: count, dtype: float64
Target
Graduate    49.943477
Dropout     32.127515
Enrolled    17.951617
Name: count, dtype: float64

In [24]:
#summary of values
data.describe()

,Age at enrollment,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (evaluations),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
count,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000,4424.000000
mean,23.265145,0.709991,6.270570,8.299051,4.706600,10.640822,0.137658,0.541817,6.232143,8.063291,4.435805,10.230206,0.150316,11.566139,1.228029,0.001969
std,7.587816,2.360507,2.480178,4.179106,3.094238,4.843663,0.690880,1.918546,2.195951,3.947951,3.014764,5.210808,0.753774,2.663850,1.382711,2.269935
min,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.600000,-0.800000,-4.060000
25%,19.000000,0.000000,5.000000,6.000000,3.000000,11.000000,0.000000,0.000000,5.000000,6.000000,2.000000,10.750000,0.000000,9.400000,0.300000,-1.700000
50%,20.000000,0.000000,6.000000,8.000000,5.000000,12.285714,0.000000,0.000000,6.000000,8.000000,5.000000,12.200000,0.000000,11.100000,1.400000,0.320000
75%,25.000000,0.000000,7.000000,10.000000,6.000000,13.400000,0.000000,0.000000,7.000000,10.000000,6.000000,13.333333,0.000000,13.900000,2.600000,1.790000
max,70.000000,20.000000,26.000000,45.000000,26.000000,18.875000,12.000000,19.000000,23.000000,33.000000,20.000000,18.571429,12.000000,16.200000,3.700000,3.510000

In [25]:
#count missing values by column
data.isna().sum()

Marital status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
Target                                            0
dtype: int64

In [28]:
#check for duplicate students
data.index.nunique()

4424

In [13]:
#count values for each column of interest

In [14]:
#distributions of columns of interest

In [16]:
#use histograms to view distributions of numerical columns

In [17]:
#use bar charts to view distributions of categorical columns, look for potential errors or outliers

In [18]:
#handle any missing data appropriately

In [19]:
#rexamine new data set

In [20]:
#save new data set as csv

In [21]:
#preliminary variables of interest